html {
  box-sizing: border-box;
}

body {
  font-family: 'Tilt Neon', cursive;
  text-align: center;
  background-color: #010001;
}

.title {
  color: #c9c8cd;
  transition: all 0.3s;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
}

.scoreboard-player {
  min-width: 120px;
}

.scoreboard-player-title {
  color: #2cb99c;
  transition: all 0.3s;
}

.scoreboard-player-score {
  color: #2cb99c;
  transition: all 0.3s;
}

.scoreboard-player-status {
  padding-top: 20px;
  visibility: hidden;
  color: #c9c8cd;
  transition: all 0.3s;
}

.scoreboard-computer {
  min-width: 120px;
}

.scoreboard-computer-title {
  color: #b92cb4;
  transition: all 0.3s;
}

.scoreboard-computer-score {
  color: #b92cb4;
  transition: all 0.3s;
}

.scoreboard-computer-status {
  padding-top: 20px;
  visibility: hidden;
  color: #c9c8cd;
  transition: all 0.3s;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 50px;
  color: #c9c8cd;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.button svg {
  pointer-events: none;
  color: #010001;
}

.button-rock {
  background-color: #fac808;
  color: #010001;
}

.button-rock:hover {
  background-color: #987903;
}

.button-paper {
  background-color: #f37022;
  color: #010001;
}

.button-paper:hover {
  background-color: #9e4009;
}

.button-scissors {
  background-color: #fda1b8;
  color: #010001;
}

.button-scissors:hover {
  background-color: #f30541;
}

.again {
  display: none;
  margin-top: 60px;
  color: #c9c8cd;
  transition: all 0.3s;
}

.again:hover {
  color: #95939d;
}

.visible {
  display: block;
  visibility: visible;
}

@media (min-width: 576px) {
  .title {
    font-size: 38px;
  }

  .scoreboard-player-title, .scoreboard-computer-title {
    font-size: 28px;
  }

  .scoreboard-player-score,
  .scoreboard-computer-score,
  .scoreboard-player-status,
  .scoreboard-computer-status {
    font-size: 19px;
  }

  .again {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 45px;
  }

  .scoreboard-player-title, .scoreboard-computer-title {
    font-size: 33px;
  }

  .scoreboard-player-score,
  .scoreboard-computer-score,
  .scoreboard-player-status,
  .scoreboard-computer-status {
    font-size: 22px;
  }

  .again {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 54px;
  }

  .scoreboard-player-title, .scoreboard-computer-title {
    font-size: 39px;
  }

  .scoreboard-player-score,
  .scoreboard-computer-score,
  .scoreboard-player-status,
  .scoreboard-computer-status {
    font-size: 26px;
  }

  .again {
    font-size: 31px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 65px;
  }

  .scoreboard-player-title, .scoreboard-computer-title {
    font-size: 46px;
  }

  .scoreboard-player-score,
  .scoreboard-computer-score,
  .scoreboard-player-status,
  .scoreboard-computer-status {
    font-size: 31px;
  }

  .again {
    font-size: 37px;
  }
}